<ngx-headroom duration="300" easing="ease-in-out">
  <nav class="navbar ">
    <a class="navbar-brand" href="#">
      <i class="fas fa-home"></i>
    </a>
  </nav>
</ngx-headroom>
<div class="section first">
  <div class="container text-center">
    <h1 data-aos="fade-zoom-in" data-aos-delay="300" data-aos-easing="ease-in-sine" data-aos-duration="600">Nguyễn Mạnh
      Khương</h1>
    <h2 data-aos="fade-up" data-aos-delay="1000">Software Engineer</h2>
  </div>


</div>
<div class="container-fluid section skill"></div>
<div class="container-fluid section test"></div>
<div class="container-fluid section test"></div>
<div class="container-fluid section test"></div>
<div class="container">

</div>
