@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
  display: block;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/home-bg.jpg");
    background-attachment: fixed;
    z-index: -1;
  }
}
.navbar {
  background-color: #cacaca;
  @include media-breakpoint-down(xs) {
    padding: 0.5rem;
  }
  .container {
    place-content: space-evenly;
  }
  .btn {
    position: relative;
    font-weight: bold;
    outline: none;
    min-width: 10rem;
    i {
      margin-right: 1rem;
    }
    &:hover {
      color: #d40000;
      &:after {
        left: 0;
        right: 0;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: #d40000;
      transition: 0.3s all ease-in-out;
    }
    @include media-breakpoint-down(xs) {
      // text-align: left;
      min-width: unset;
      span {
        display: none;
      }
      i {
        margin-right: 0;
      }
    }
  }
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &#experiences {
    padding: 5rem 0;

    // @include media-breakpoint-down(xs) {
    //   background-color: #000;
    // }
  }
  .container {
    // background-color: #e4e4e4;
    background-color: #1f1f1f;
    color: #fff;
    padding: 5rem 3rem;
    // border-radius: 1rem;

    @include media-breakpoint-down(xs) {
      padding: 2rem 1rem;
    }
  }
  h2 {
    display: block;
    margin-bottom: 0;
    padding-bottom: 1rem;
    position: relative;
    transition: 0.1s all ease-in-out;
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d40000;
      background-image: linear-gradient(to right, #d40000 0%, #000 100%);
      transition: 0.3s all ease-in-out;
    }
    i {
      margin-right: 0.5rem;
    }
  }
}

#home {
  height: 100vh;
  width: 100%;

  .ovewview-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // place-content: space-around;
  }

  h1 {
    // margin: 10rem 0;
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-shadow: -1px -1px 15px #d40000, 1px -1px 15px #d40000,
      -1px 1px 15px #d40000, 1px 1px 15px #d40000;
    @include media-breakpoint-down(xs) {
      // margin-top: 2rem;
    }
  }

  h3 {
    color: #fff;
    text-shadow: -1px -1px 15px #000, 1px -1px 15px #000, -1px 1px 15px #000,
      1px 1px 15px #000;
    // @include media-breakpoint-down(xs) {
    //   color: white;
    // }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url("../assets/images/landing-bg.jpg");
    z-index: -1;
    @include media-breakpoint-down(xs) {
      background-position-x: -400px;
    }
  }
}

.skill-list {
  padding-top: 2rem;
  .skill-item {
    &:hover {
      p {
        color: #d40000;
      }
      .skill-bar-container {
        .skill-bar {
          span {
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
  p {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .skill-bar-container {
    background-color: #e9ecef;
    border-radius: 15rem;
    overflow: hidden;

    .skill-bar {
      position: relative;
      color: #fff;
      height: 2rem;
      @include media-breakpoint-down(xs) {
        height: 1.5rem;
      }
      &:before {
        content: "";
        position: absolute;

        background-color: #d40000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }

      span {
        position: absolute;
        left: 1rem;
        transform: translate(0, -50%);
        top: 50%;
        z-index: 3;
        transition: 0.3s all ease-in-out;
        @include media-breakpoint-down(xs) {
          transform: translate(0, -50%);
        }
      }
    }
  }
}
.summary-item {
  padding-left: 2rem;
  ::ng-deep b {
    color: #d40000;
  }

  &:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 12px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $red;
  }
}

.timeline-list {
  .timeline-item {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #d40000 0%, #000 100%);
    border-image-slice: 1;
    border-width: 5px;
    margin: 0;
    padding: 40px;
    @include media-breakpoint-down(xs) {
      padding: 0.5rem;
    }
    counter-increment: section;
    position: relative;

    &:nth-child(odd) {
      border-right: 5px solid;
      padding-left: 0;
    }
    &:nth-child(even) {
      border-left: 5px solid;
      padding-right: 0;
    }
    // &:first-child {
    //   border-top: none;
    // }

    .timeline-left {
      text-align: right;
      @include media-breakpoint-down(xs) {
        text-align: left;
      }
      .time {
        font-size: 2rem;
        .badge {
          background-image: linear-gradient(to right, #000 0%, #d40000 100%);
        }
      }
      .company {
        // margin-left: 0.5rem;
        font-weight: bold;
      }
    }
    .project-list {
      .project-item {
        transition: 0.3s all ease-in-out;
        padding: 0.5rem 1rem;
        @include media-breakpoint-down(xs) {
          padding: 2rem 0.5rem;
          margin: 0 -0.5rem;
        }

        .name {
          font-size: 1.5rem;

          .badge {
            background-image: linear-gradient(
              to right,
              #dc3545 0%,
              #d40000 100%
            );
          }
        }
        .technologies {
          .badge {
            color: #fff;
            background-image: linear-gradient(
              to right,
              #8093f1 0%,
              #0041b7 100%
            );
          }
        }
      }
    }
  }
}

#about {
  ul {
    li {
      padding-bottom: 1rem;
    }
  }
}

.contact-list {
  .contact-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    .btn {
      font-size: 1.5rem;
      transition: width 2s;
      color: white;
      transition: 0.3s all ease-in-out;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 3rem;
      overflow: hidden;
      margin-bottom: 1rem;

      @include media-breakpoint-down(xs) {
        width: 100%;
        justify-content: center;
      }
      i {
        @include media-breakpoint-down(xs) {
          margin-right: 0.5rem;
        }
      }
      span {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: 0.3s all ease-in-out;

        @include media-breakpoint-down(xs) {
          font-size: 1rem;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
      &:hover {
        width: 100%;
        justify-content: center;
        i {
          margin-right: 0.5rem;
        }
        span {
          // display: inline-block;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }
}

.milan-red {
  color: #d40000;
}

.milan-black {
  color: #000;
}

.img-milan {
  max-width: 200px;
  margin: 0 auto;
  @include media-breakpoint-down(xs) {
    max-width: 100px;
  }
}

p {
  @include media-breakpoint-down(xs) {
    margin-bottom: 0.5rem;
  }
}
