<ngx-headroom duration="300" easing="ease-in-out">
  <nav class="navbar">
    <div class="container">
      <a pageScroll [pageScrollDuration]=500 href="#home" class="btn">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
      <a pageScroll [pageScrollDuration]=500 href="#skills" class="btn">
        <i class="fas fa-align-left"></i>
        <span>Skills</span>
      </a>
      <a pageScroll [pageScrollDuration]=500 href="#experiences" class="btn">
        <i class="fas fa-business-time"></i>
        <span>Experiences</span>
      </a>
      <a pageScroll [pageScrollDuration]=500 href="#about" class="btn">
        <i class="fas fa-address-card"></i>
        <span>About</span>
      </a>
    </div>
  </nav>
</ngx-headroom>


<div class="section" id="home">
  <div class="ovewview-container text-center">
    <h1 data-aos="fade-zoom-in" data-aos-delay="300" data-aos-easing="ease-in-sine" data-aos-duration="600">Nguyễn Mạnh
      Khương</h1>
    <h3 data-aos="fade-up" data-aos-delay="1000">Software Engineer</h3>
  </div>

</div>
<div class="section" id="skills">
  <div class="container">
    <h2 data-aos="fade-right" data-aos-delay="300">
      <i class="fas fa-align-left"></i>
      Skills
    </h2>
    <div class="row skill-list" *ngIf="skillList && skillList.length > 0">
      <div class="col-6 col-xl-3 skill-item" *ngFor="let skill of skillList; let i = index" data-aos="fade-right"
        [attr.data-aos-delay]="300+i*200">
        <p>{{skill.name}}</p>
        <div class="skill-bar-container">
          <div class="skill-bar" [style.width.%]="skill.value">
            <span *ngIf="skill.value < 80">Fair</span>
            <span *ngIf="skill.value >= 80">Good</span>
          </div>
        </div>

      </div>
    </div>

    <!-- </div>
  <div class="container"> -->

    <h2 class="mt-5" data-aos="fade-right" data-aos-delay="200">
      <i class="fas fa-align-left"></i>
      Summary
    </h2>
    <ul class="mt-3" *ngIf="summaryList && summaryList.length > 0">
      <li class="summary-item" *ngFor="let item of summaryList; let i = index" data-aos="fade-up"
        [attr.data-aos-delay]="300+i*200">
        <div [innerHTML]="item" *ngIf="item"></div>
      </li>
    </ul>
  </div>
</div>
<div class="section" id="experiences">
  <div class="container">
    <h2 data-aos="fade-right" data-aos-delay="200">
      <i class="fas fa-business-time"></i>
      Experience
    </h2>
    <div class="timeline-list" *ngIf="timelineList && timelineList.length > 0">
      <div class="timeline-item row" *ngFor="let timeline of timelineList">
        <div class="timeline-left col-12 col-xl-3" data-aos="fade-right" data-aos-delay="200">
          <p class="time">
            <span class="badge badge-danger"> {{timeline.time}}</span>
          </p>
          <h4 class="company">{{timeline.company}}</h4>
        </div>
        <div class="timeline-right col-12 col-xl-9">
          <ul class="project-list" *ngIf="timeline.projects && timeline.projects.length > 0">
            <li class="project-item" data-aos="flip-right" [attr.data-aos-delay]="500+i*200"
              *ngFor="let project of timeline.projects; let i = index">
              <!-- <p class="name">{{project.name}}</p> -->
              <h4 class="name" *ngIf="project.name">
                <span class="badge badge-danger"> {{project.name}}</span>
              </h4>
              <p class="role" *ngIf="project.role">
                <span class="mr-2 d-none d-sm-inline">Role:</span>
                <b>{{project.role}}</b>
              </p>
              <p class="technologies" *ngIf="project.technologies && project.technologies.length > 0">
                <!-- <span class="badge mr-2" [ngClass]="{'badge-primary': odd,'badge-danger': even}" -->
                <span class="mr-2 d-none d-sm-inline">Technologies:</span>
                <span class="badge mr-2"
                  *ngFor="let technology of project.technologies; let i = index; let odd = odd; let even = even">
                  {{technology}}
                </span>
              </p>
              <div [innerHTML]="project.description" *ngIf="project.description"></div>
              <p class="reference" *ngIf="project.reference">
                <span class="mr-2 d-none d-sm-inline">Reference:</span>
                <a [href]="project.reference" target="_blank">Link</a>
              </p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="section" id="about">
  <div class="container">
    <h2 data-aos="fade-right">
      <i class="fas fa-user-tie"></i>
      Personal Info
    </h2>
    <ul class="row mt-3">
      <li class="col-6 col-xl-3 about-item text-center" data-aos="fade-right" *ngFor="let item of aboutList">
        <b class="mr-2 d-none d-sm-inline" *ngIf="item.title">{{item.title}}:</b>
        <span *ngIf="item.value">{{item.value}}</span>
      </li>
    </ul>

    <!-- <h2 class="mt-4" data-aos="fade-right">
      <i class="fas fa-heart"></i>
      Hobbies
    </h2>
    <ul class="row mt-3">
      <li class="col-6 col-xl-3 about-item text-center" data-aos="fade-right" *ngFor="let item of hobbieList">
        <span>{{item}}</span>
      </li>
    </ul> -->

    <!-- <h2 class="mt-4" data-aos="fade-right" data-aos-delay="200">
      <i class="fas fa-address-card"></i>
      Contact
    </h2> -->
    <ul class="contact-list row mt-3">
      <li class="col-6 col-xl-3 contact-item" data-aos="fade-right" data-aos-delay="300">
        <a href="tel:+84378334899" class="btn btn-danger">
          <i class="fas fa-phone-square-alt"></i>
          <span>Phone</span>
        </a>
      </li>
      <li class="col-6 col-xl-3 contact-item" data-aos="fade-right" data-aos-delay="400">
        <a href="mailto: khuongnm0@gmail.com" target="_blank" class="btn btn-warning">
          <i class="fas fa-envelope"></i>
          <span>Email</span>
        </a>
      </li>
      <li class="col-6 col-xl-3 contact-item" data-aos="fade-right" data-aos-delay="500">
        <a href="https://www.facebook.com/akite.banhmi" target="_blank" class="btn  btn-primary">
          <i class="fab fa-facebook-square"></i>
          <span>Facebook</span>
        </a>
      </li>
      <li class="col-6 col-xl-3 contact-item" data-aos="fade-right" data-aos-delay="600">
        <a href="https://www.linkedin.com/in/khuongnm/" target="_blank" class="btn  btn-secondary">
          <i class="fab fa-linkedin"></i>
          <span>Linkedin</span>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="section" id='other'>
  <div class="container text-center">
    <p>
      My favourite football team is AC Milan. That why the color theme is only <span class="milan-red">Red</span> and
      <span class="milan-black">Black</span> :)
    </p>

    <img class="img-milan" src="/assets/images/acmilan.png" alt="AC Milan Logo">
  </div>
</div>
